@import 'functions';

@import 'reset';

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');

/* Main Classes */

.container {
  max-width: rem-calc(1060);
  margin: auto;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: inherit;
}

body {
  background: #c2c2c2 linear-gradient(#c2c2c2 rem-calc(56), #bab6c0 0%, #c2c2c2 100%);
  background-repeat: repeat-x;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Header */

header {
  background: linear-gradient(#e6e6e6 0%, #dedede 100%);
  height: rem-calc(56);
  box-shadow: 0 rem-calc(0) rem-calc(15) rem-calc(3) rgba(#000000, 0.15);

  #logo {
    padding-top: rem-calc(10);
    display: inline-flex;
  }

  #cart {

    float:right;
    display: inline-flex;
    position: relative;

    >button {
      width: rem-calc(56);
      height: rem-calc(56);
      border: none;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;

      img {

        width: rem-calc(17);
        height: rem-calc(15);

      }

      span {

        font-size: rem-calc(14);
        color: #404040;
        font-weight: 600;
        margin-left: rem-calc(4);

      }

      &.true {

        background: #ffffff;

      }

    }

    #cart-content {

      position: absolute;
      min-width: rem-calc(365);
      background: #ffffff;
      right: 0;
      top: rem-calc(56);
      z-index: 1000;
      padding: rem-calc(5) 0;
      box-shadow: 0 rem-calc(10) rem-calc(5) rem-calc(0) rgba(#000000, 0.15);

      #empty-cart {

        display: flex;
        padding: rem-calc(30) rem-calc(10);
        flex-direction: column;
        align-items: center;

        h4 {

          margin-top: rem-calc(5);

        }

      }

      h3 {

        text-transform: uppercase;
        font-weight: 700;

      }

      #summary {

        padding: rem-calc(5) rem-calc(10) rem-calc(10) rem-calc(10);
        display: flex;
        align-items: center;
        place-content: space-between;

        #right-box {

          align-items: center;
          display:flex;

          button#clear-cart {

            border: 1px solid #865bba;
            border-radius: rem-calc(5);
            padding: rem-calc(15) rem-calc(25);
            font-size: rem-calc(14);
            font-weight: 600;
            color: #ffffff;
            background: #865bba linear-gradient(#b65ae2 0%, #7b3dc6 100%);

          }

          h3 {

            margin-right: rem-calc(10);

          }

        }

      }

      ul li {

        border-top: rem-calc(1) solid #e4e4e4;
        padding: rem-calc(5) rem-calc(10) rem-calc(5) rem-calc(5);
        display: flex;
        align-items: center;
        place-content: space-between;

        img {

          max-width: rem-calc(100);

        }

        h3 {

          font-size: rem-calc(14);
          font-weight: 600;
          color: #212121;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: rem-calc(195);

        }

        .price {

          font-size: rem-calc(13);
          color: #404040;
          font-weight: 600;
          opacity: .75;

        }

        .remove {

          color: #212121;
          background: none;
          border:none;
          margin:rem-calc(5) 0 0 0;
          padding:0;
          border-bottom: rem-calc(2) solid #c1c1c1;
          visibility: hidden;

          &:hover {

            border-bottom-color: #ffffff;

          }

        }

        &:hover {

          .remove {

            visibility: visible;

          }

        }

      }

    }

  }

}

/* Content */

#content {

  min-height: rem-calc(684);

  #game-of-the-week {

    min-height: rem-calc(360);
    position: relative;

    h1 {

      font-size: rem-calc(15);
      color: #262626;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: rem-calc(40);

    }

    img {
      margin: rem-calc(20) 0;
      box-shadow: 0 rem-calc(1) rem-calc(5) rem-calc(0) rgba(#000000, 0.3);
      z-index: 1;
      position: relative;
    }

    button#secret {

      text-transform: uppercase;
      border: 1px solid #258363;
      background: #00c78c linear-gradient(#00c78c 0%, #00915f 100%);
      padding: rem-calc(10) rem-calc(15);
      border-radius: rem-calc(5);
      color: #ffffff;
      font-size: rem-calc(14);
      font-weight: 600;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;

    }

  }

  ul#products {

    display: inline-flex;

    li.product{

      max-width: rem-calc(196);
      margin-right: rem-calc(20);
      min-height: rem-calc(195);
      background: #e1e1e1;
      box-shadow: 0 rem-calc(1) rem-calc(5) rem-calc(0) rgba(#000000, 0.15);
      position: relative;

      &:last-child {

        margin-right: 0;

      }

      .info {

        padding: rem-calc(7);

        &.owned {

          opacity: .5;

        }

        h2 {

          font-size: rem-calc(14);
          line-height: rem-calc(17);
          font-weight: 600;
          text-transform: uppercase;

        }

        .price-area {

          position: absolute;
          bottom:rem-calc(10);
          right:rem-calc(7);

          .discount {

            background: #00905e;
            padding: rem-calc(5) rem-calc(10);
            border-radius: rem-calc(5);
            margin-right: rem-calc(5);
            color: #f2f2f2;
            font-size: rem-calc(13);
            font-weight: 600;

          }

          button {

            color: #404040;
            border-radius: rem-calc(5);
            border: solid rem-calc(1) #a9a9a9;
            padding: rem-calc(5) rem-calc(10);
            box-shadow: 0 rem-calc(1) rem-calc(3) rem-calc(0) rgba(#000000, 0.25);
            background: transparent;
            font-size: rem-calc(13);
            font-weight: 600;

          }

        }

      }

    }

  }


}
